@import url('https://fonts.cdnfonts.com/css/ambit');

                
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: 0;
    scroll-behavior: smooth;
    font-family: 'Ambit', sans-serif;
}
html{
    font-size: 60%;
    overflow-x: hidden ;
}
:root{
    --backgrond-color-- :#fff;
    --text-color--: black;
    --main-color--: rgba(255, 0, 0, 0.217);
    --second-color--: rgba(255, 191, 0, 0.13);
    --font-ambi: "__ambit_5e613e","__ambit_Fallback_5e613e";     
    /** background-color: rgba(0, 26, 255, 0.13);*/
    
}
body{
    background-color: var(--backgrond-color--);
    color: var(--text-color--);
}
section{
    min-height: 100vh;
    padding: 20px 20px;
}
.home-content{
    width: 100%;
    min-height: 95vh;
    border-radius: 50px;
    background: #fff;
    background-image: linear-gradient(
        90deg, 
        transparent 79px,
        #abced4 79px,
        #abced4 81px,
        transparent 81px),
        linear-gradient(#eee .1em, transparent .1em);
        background-size: 100% 5em;
}
.home-content .home-color{
    /*background-color: rgba(0, 26, 255, 0.13);*/
    background-color: rgba(255, 213, 0, 0.087);
    width: 100%;
    min-height: 95vh;
    border-radius: 50px;
}
.home-color header{
    top: 0%;
    left: 0%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: var(--text-color--);
    font-weight: 1000;
    font-size: 38px;
}
.logo:hover{
    transform: scale(1.1);
}

#menu-icon{
    font-size: 20px;
    color: var(--text-color--);
    display: none;
}
nav a{
    font-size: 18px;
    color: var(--text-color--);
    margin-right: 20px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid transparent;
}
.home-color{
    display: flex;
    flex-direction: column;
}
nav a:hover{
    border-bottom: 1px solid black;
}
.btn, .heading a{
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    background: black;
    color: #fff;
    letter-spacing: 1px;
    padding: 15px 10px;
    cursor: pointer;
    text-wrap: nowrap;
    border: none;
}
.btn:hover{
    transform: scale(1.1);
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    align-self: center;
    max-width: 60%;
    text-align: center;
    flex-grow: 1;
    flex-direction: column;
}
.heading h1{
    font-size: 72px;
    font-weight: 900;
    letter-spacing: 0.1rem;
}
.heading h2{
    font-size: 25px;
    margin: 20px 10px;
}
