<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Donga | Video Note Taker</title>
        <link rel="stylesheet" href="static/styles.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://fonts.cdnfonts.com/css/ambit" rel="stylesheet">
    </head>
    <body>
        <section class="home" id="home">
            <div class="home-content">
                <div class="home-color">
                    <header>
                        <a href="#home" class="logo">DONGA</a>

                        <i class='bx bx-menu' id="menu-icon"></i>

                        <nav class="navbar">
                            <a href="">Features</a>
                            <a href="">Use Cases</a>
                            <a href="">Pricing</a>
                            <a href="">Blog</a>
                        </nav>

                        <a href="#upload" class="btn">Get Started</a>
                    </header>
                    <div class="heading">
                        <h1>Generate study notes from any video effortlessly.</h1>
                        <h2>Our platform converts your lecture videos into notes, making it simple to get the information you need</h2>

                        <a href="#upload">Start now</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="upload" id="upload">
            <div class="upload-section">
                <h1>Upload Your Videos</h1>

                <div class="wrapper">
                    <form action="#">
                        <input type="file" id="file" class="file-input" name="file" hidden>
                        <i class='bx bxs-cloud-upload'></i>
                        <p>Upload a video or audio file here</p>
                    </form>
    
                    <div class="files" id="files">
                        <!-- <div class="progress-area">
                            <li class="row">
                                <i class='bx bxs-file'></i>
                                <div class="content">
                                    <div class="details">
                                        <span class="name">lecture.mp4 • Uploading</span>
                                        <span class="percent">50%</span>
                                    </div>
                                    <div class="progress-bar">
                                       <div class="progress">
            
                                       </div>
                                    </div>
                                </div>
                            </li>             
                        </div>
                        <div class="uploaded-area" id="uploaded-area">
                            <li class="row">
                                <div class="content">
                                    <i class='bx bxs-file'></i>
                                    <div class="details">
                                        <span class="name">lecture.mp4 • Uploaded</span>
                                        <span class="size">70KB</span>
                                    </div>
                                </div>
                                <i class='bx bx-check'></i>
                            </li>
                        </div>-->
                        
                    </div>
                    <button onclick="get_notes()" id="generate_notes">Generate notes</button>
                    
                    
                </div>
                
            </div>
        </section>
        <script src="static/script.js"></script>
    </body>
</html>